/* main goes here*/

main{
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .hero {
	/* background-image: url("../images/hero-img.jpeg"); */
    background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
    height: 30rem;
	padding-top: 2rem;
    padding-bottom: 2rem;
	margin-top: -31px;
    margin-bottom: 2rem;
  }
  
  .hero-content{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 90%;
    row-gap: 1rem;
	margin-left: auto;
	margin-right: auto;
  }

  .hero-content div{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 22px;
	color: rgb(255, 255, 255);
	text-align: center;
	line-height: 1.45;
	font-weight: 400;
  }
  
  strong{
	display: block;
	width: 90%;
	font-size: 40px;
	line-height: 1.42;
	color: rgb(255, 255, 255);
	font-family: 'League Spartan', arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
  }

  .shop-online{
	width: 100%;
  }

  .shop-online-btn{
	width: 100%;
	background-color: rgb(229, 232, 228);
	color: rgb(0, 0, 0);
	border: 0px;
	font-family: Helvetica, arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	cursor: pointer;
	text-transform: uppercase;
  }

  .main-main{
	display: flex;
	flex-direction: column;
	align-content: center;
	row-gap: 2rem;
	width: 90%;
	margin: auto;
  }

  .products {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
  }

  .product-img{
	height: 16rem;
	width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .new-products {
	background-image: url("../images/jersey1.jpg");
  }

  .most-popular {
	background-image: url("../images/jersey2.jpg");
  }

  .best-value {
	background-image: url("../images/jersey3.jpg");
  }
  .ig-feed{
	display: flex;
	flex-direction: column;
	align-items: center;
  }

.vip-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    row-gap: 1rem;
    width: 100%;
}

.text-field{
    width: 100%;
}

.submit-btn{
    border: none;
}